@value colors: '../root.module.css';

@value background-color-blue from colors;

.promo {
    height: calc(85vh - 70px);
    background-color: background-color-blue;
    width: 100%;
}

.promoWrapper {
    /*outline: 1px solid black;*/
    composes: wrapper from '../root.module.css';
    height: calc(85vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    background-color: chocolate;
    margin-right: 50px;
}

.photo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 57%;
}

@media (max-width: 560px) {

    .photo {
        width: 200px;
        height: 200px;
    }

    .text {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .promoWrapper {
        flex-direction: column;
    }
}