@import "../common/sass/variables";


.promo {
    height: calc(85vh - 70px);
    background-color: $background-color;
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    width: 100%;
}

.promoWrapper {
    /*outline: 1px solid black;*/
    composes: wrapper from '../root.module.css';
    height: calc(85vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.title {
    color: $main-title-color;
    text-align: start;
    margin-right: 80px;
    font-family: $font-family-extra;
    font-size: 30px;
    font-weight: 600;
}

.name {
    font-family: $font-family-main;
    font-size: 65px;
    margin: 0 0 20px 0;
}

.photo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 57%;
}

@media (max-width: 800px) {

    .photo {
        width: 200px;
        height: 200px;
        order: 0;
    }

    .title {
        margin-right: 0;
        margin-top: 20px;
        text-align: center;
        order: 1;
    }

    .name {
        font-size: 45px;
    }

    .promoWrapper {
        flex-direction: column;
    }
}