@import "./variables";

@mixin basicText {
  color: $basic-text-color;
  font-family: $font-family-extra;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0;
  word-wrap: break-word;
}