//:root {
//  $main-color: #fb503b;
//  $font-family-main: 'Open Sans', sans-serif;
//  $font-family-extra: 'Barlow', sans-serif;
//}

$background-color: #61dafb;
$promo-title-color: #fff;
$font-family-extra: 'Barlow', sans-serif;
$font-family-main: 'Open Sans', sans-serif;
