//:root {
//  $main-color: #fb503b;
//  $font-family-main: 'Open Sans', sans-serif;
//  $font-family-extra: 'Barlow', sans-serif;
//}

//colors
$background-color: #61dafb;
$background-dark: #252439;
$background-gray: #444359;
//text colors
$main-title-color: #fff;
$second-title-color: #fb503b;
$basic-text-color: #fff;
$second-text-color: #aaaaba;
//fonts
$font-family-extra: 'Barlow', sans-serif;
$font-family-main: 'Open Sans', sans-serif;
